<!DOCTYPE html>
<html>
  <head>
    <% include ../../common/partials/head %>
    <link rel="stylesheet" href="/styles/users.css">
    <script type="text/javascript" src="/helpers/admin/ban.js"></script>
    <title>fog | store</title>
  </head>
  <body>

    <header>
      <% include ../../common/partials/header %>
    </header>

    <main>
      <div class="inner-content">

        <h1>Users</h1>

          <% gamers.forEach(function(gamer) { %>
            <% include ../../gamers/partials/gamer-summary %>
          <% }); %>

      </div>
    </main>

    <footer>
      <% include ../../common/partials/footer %>
    </footer>

  </body>
</html>
