<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/styles/frontpage.css">
  <script type="text/javascript" src="/helpers/home/bannerLoader.js"></script>
  <title>fog</title>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <main>

    <div class="inner-content">
      <div id="banner_window">

      </div>
      <button id="prev_image">GO LEFT</button>
      <button id="next_image">GO RIGHT</button>

      <% if (session.user && session.user.type === 'admin') { %>
        <br />
        <% include ../../admin/partials/admin-panel %>
      <% } %>
    </div>

  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>




</body>
</html>
