<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/styles/frontpage.css">
  <script type="text/javascript" src="/helpers/home/bannerLoader.js"></script>
  <title>fog</title>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <main>

    <div class="inner-content">
      <div id="banner_window">
        <a href="" id="prev_image" class="banner-button banner-left">
          <img src="/images/left_arrow.png" />
        </a>
        <a href="" id="next_image" class="banner-button banner-right">
          <img src="/images/right_arrow.png" />
        </a>
      </div>

      <% if (session.user && session.user.type === 'admin') { %>
        <br />
        <% include ../../admin/partials/admin-panel %>
      <% } %>
    </div>

  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
