<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/styles/frontpage.css">
  <script type="text/javascript" src="/helpers/common/rotatingBanner.js"></script>
  <title>fog</title>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <main>
    <div id="banner_window">
    </div>
    <button id="prev_image">GO LEFT</button>
    <button id="next_image">GO RIGHT</button>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
