<!DOCTYPE html>
<html>
  <head>
    <% include ../../common/partials/head %>
    <link rel="stylesheet" href="/styles/shoelace.css">
    <title>fog | add credit card</title>
  </head>
  <body>

    <header>
      <% include ../../common/partials/header-hide-login %>
    </header>

    <main>

      <div class="inner-content">
        <h2>Login</h2>
        <div class="little-guy login-screen-login">
          <% include ../partials/session/easy-login %>
        </div>


      </div>

    </main>
  </body>
</html>
