<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>fog</title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="inner-content">
        <h1>Restricted</h1>
        <p>
          <%= restrictedMessage %>
        </p>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
