<div id="header" class="content">
  <div id="fog">
    <h1 id="title" class="inline">fog</h1>
    <span class="deemphasized">
      <a href="library">Library</a>
      | <a href="store">Store</a>
      | <a href="forums">Forums</a>
    </span>
  </div>
  <div id="easy-login">
    <form id="login">
      <input type="text" id="username" name="username" placeholder="username">
      <label for="username">username</label>
      <input type="password" id="password" name="password" placeholder="password">
      <label for="password">password</label>
    </form>
  </div>
</div>
