<!DOCTYPE html>
<html>
<head>
  <% include ../../common/partials/head %>
  <link rel="stylesheet" href="/styles/games.css">
  <title>fog | store</title>
</head>
<body>

  <header>
    <% include ../../common/partials/header %>
  </header>

  <main>
    <div class="inner-content">

      <h1>fogStore</h1>

      <!-- search -->
      <form action="/store" method="get" class="padded">
        <input type="text"
        id="query" name="query"
        class="long input" placeholder="search" />
        <input type="submit" id="submit-search" value="search" />
      </form>

      <!-- game list -->
      <div class="padded game-collection">

        <% if (games.length === 0) { %>
          <h3 class="deemphasized">
            There's nothing here
          </h3>
          <% } %>
          <% games.forEach(function(game) { %>

            <a href="/games/<%= game._id %>">

              <%
              var message = (session.user && session.user.type !== 'admin'
              && session.user.games[game._id])?
              '[owned]'
              : '$ ' + game.price;
              %>
              <% include ../partials/game-summary %>
            </a>

            <% }); %>

          </div>
        </div>
      </main>

      <footer>
        <% include ../../common/partials/footer %>
      </footer>

      <script>
      function featureListener(feature) {
        console.log(feature);
        var gameID = feature.id.substr(0, feature.id.indexOf('featured'));
        ajaxer.post('/games/' + gameID + '/toggle-featured',
          {
            id : gameID
          }, {
            onSuccess: function(response) {
              if (response === 'true' || response === 'false') {
                $(feature).toggleClass('active');
                $(feature).toggleClass('pizza');
                $(feature).toggleClass('green');
                $(feature).toggleClass('inactive');
              }

            },
            onFail: function(response) {
              console.log('fic + ' + response);
            }
          });
      }

      function saleListener(sale) {
        console.log(sale);
        var gameID = sale.id.substr(0, sale.id.indexOf('onsale'));
      }

      var features = document.getElementsByClassName('featured-button');
      var sales = document.getElementsByClassName('onsale-button');

      for (var i = 0; i < features.length; i++) {
        (function() {
          var k = i;

          sales[k].addEventListener('change', function(event) {
            var sale = sales[k];
            event.preventDefault();
            saleListener(sale);
          });

          sales[k].addEventListener('click', function(event) {
            event.preventDefault();
          });

          features[k].addEventListener('click', function(event) {
            var feature = features[k];
            event.preventDefault();
            featureListener(feature);
          });
        })();
      }



      </script>


    </body>
    </html>
