<!DOCTYPE html>
<html>
  <head>
    <% include ../../common/partials/head %>
    <link rel="stylesheet" href="/styles/games.css">
    <title>fog | developer</title>
  </head>
  <body>

    <header>
      <% include ../../common/partials/header %>
    </header>

    <main>
      <div class="inner-content">

        <h1>My Games</h1>

        <!-- game list -->
        <div>

          <% if (games.length === 0) { %>
            <h3>
              No games yet, better get crackin'
            </h3>
          <% } %>

          <% games.forEach(function(game) { %>

            <a href="/games/<%= game._id %>">
              <% var message = 'view'; %>
              <% include ../../games/partials/game-summary %>
            </a>

          <% }); %>

        </div>
      </div>
    </main>

    <footer>
      <% include ../../common/partials/footer %>
    </footer>

  </body>
</html>
