<!DOCTYPE html>
<html>
  <head>
    <% include ../../common/partials/head %>
    <link rel="stylesheet" href="/styles/forums.css">
    <title>fog | add a game</title>
  </head>
  <body>

    <header>
      <% include ../../common/partials/header %>
    </header>

    <main>
      <div class="inner-content">
        <h1>Submit a Game</h1>

        <form action="/games/submit" class="padded" method="post" enctype="multipart/form-data">
          <input type="text"
              id="gameTitle"
              name="gameTitle"
              class="input"
              placeholder="title"
              required>
          <label for="game-title">title</label>

          <%
            var sampleConfig = '{\n'
                + 'scripts: [\n'
                + '    \"main.js\"\n'
                + '  ],\n'
                + '  initializer: \"begin\"\n'
                + '}'

          %>

          <br />
          <p>
            Upload your game, compressed as a .zip. If you try
            any funny business* here, you and everyone you love
            will be immediately and permanently banned from fog. Forever.
          </p>
          <input type="file" id="gameFile" name="gameFile" required>
          <label for="gameFile">game file</label>

          <br />
          <input type="file" id="banner" name="banner" required>
          <label for="gameBanner">game banner <br /> 616 x 353 please!</label>

          <br />
          <input type="file" id="icon" name="icon" required>
          <label for="gameIcon">game icon</label>

          <br />
          <input type="file" id="images" name="images" multiple="multiple">
          <label for="gameFile">images</label>

          <br />
          <input type="file" id="videos" name="videos" multiple="multiple">
          <label for="gameFile">videos</label>

          <br />

          <textarea
              id="description"
              name="description"
              class="input"
              rows="5"
              placeholder="Description of game to be shown to players"
              required
          ></textarea>
          <label for="description">description</label>

          <br />
          <select class="input" name="price">
            <option value="0.00">I'm awesome: it's free!</option>
            <option value="4.99">The game is okay: $4.99</option>
            <option value="9.99">It's a quality indie game: $9.99</option>
            <option value="59.99">AAA game. $59.99 plus paid DLC</option>
          </select>
          <label for="price">suggested price</label>

          <br />
          <input type="submit" id="submit-game" name="submit-game" value="submit">

        </form>

        <div id="funny-business">
          <p>
            *Any attemp to upload malicious content
            to our site consitutes "funny business".
          </p>
        </div>
      </div>
    </main>

    <footer>
      <% include ../../common/partials/footer %>
    </footer>

  </body>
</html>
