<a href="/admin/update-games" class="emphasized big-menu-item">Update Games</a>
| <a href="/admin/pending" class="emphasized big-menu-item">Review Pending Games</a>
| <a href="/forums" class="emphasized big-menu-item">Forums</a>
