<div id="easy-login">
  <form id="login">
    <input type="text" id="username" name="username" placeholder="username">
    <label for="username">username</label>
    <input type="password" id="password" name="password" placeholder="password">
    <label for="password">password</label>
  </form>
</div>
