<div id="easy-login">
  <form action="/login" id="login" method="post">
    <input type="text" id="username" name="username" placeholder="username">
    <label for="username">username</label>
    <input type="password" id="password" name="password" placeholder="password">
    <label for="password">password</label>
    <button type="submit" id="Login" value="Login">Login</button>
  </form>
</div>
