#banner_window {
  margin: auto;
  box-shadow: 5px 5px 5px black, -5px 5px 5px black;
  border: solid grey;
  width: 616px;
  height: 353px;
}

.overlayed {
  position: absolute;
  top: 10px;
  left: 10px;
}

.sale-flag {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1em;
  border: 1px solid #999;
  color:white;
}
