#banner_window {
  margin: auto;
  box-shadow: 5px 5px 5px black, -5px 5px 5px black;
  border: solid grey;
  width: 616px;
  height: 353px;
}

.overlayed {
  position: absolute;
  top: 10px;
  left: 10px;
}

.sale-flag {
  top: 0px;
  right: 0px;
  border-bottom-left-radius: 4px;
}

.availability, .sale-flag {
  padding: 5px;
  font-size: 1em;
  color:white;
  position: absolute;
}

.availability {
  right: 0px;
  bottom: 0px;
  background-color: grey;
  border-top-left-radius: 4px;
}
