#banner_window {
  margin: auto;
  box-shadow: 5px 5px 5px black, -5px 5px 5px black;
  border: solid grey;
  width: 616px;
  height: 353px;
}

.overlayed {
  position: absolute;
  top: 10px;
  left: 10px;
}
