.icon {
  float: left;
  width: 100px;
}

.screenshot, .video {
  width: 400px;
}

.label {
  display: inline-block;
  width: 80px;
  margin: 0px 20px;
}

#accept-game {

}

.game-collection {
  width: 704px;
  background-color: #111;
  padding: 4px;
}

.game-box {
  padding: 10px;
  margin: 1px;
  border: 1px solid #999;
  display: inline-block;
  width: 680px;
  transition: background-color 0.4s;
  background-color: #222;
}

a .game-box:link {
  background-color: #222;
}

a .game-box:hover {
  background-color: #333;
}

.inner-box {
  margin: 1px;
  padding: 1px;
  float: left;
}
.outer-box {
  maring: 1px;
  padding: 1px;
  float: right;
}

.image-holder {
  display: inline-block;
  width: 100px;
}

.price-holder {
  width: 80px;
}

.game-content {
  width: 480px
}

.description {
  font-style: italic;
  margin: 0px 10px;
}

.long.input {
  width: 500px;
}

.featured-button, .onsale-button {
  height: 40px;
  font-size: 1em;
  border: 3px solid #999;
  border-radius: 5px;
  color:white;
}

.featured-button:hover, .onsale-button:hover {
  opacity: 1;
  transition: opacity 0.4s;
  cursor: crosshair;
  box-shadow: -2px 3px 4px 1px black;
}

.sale-button {
  width: 75px;
}

.feature-button {
  width: 100px;
}

.inactive {
  opacity: .3;
  background-color: grey;
}

.active {
}
