html, body {
  color: #ddd;
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #222;
  position: relative;
  min-height: 100%;
}

body {
  background-color: #001;
  margin: 0px 0px 65px;
}

main {
  background-color: #222;
}

div {
  padding: 10px;
}

.content {
  margin: 0px 100px;
  position: relative;
}

.inner-content {
    margin: 0px 110px;
    position: relative;
}

h1, h2, h3, h4, h5, h6, .emphasized {
  font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
  /*margin: 10px;*/
}

a:not([href]):hover {
  cursor: pointer;
}

.deemphasized {
  color: #999;
}

.inline {
  display: inline;
}

.padded {
  padding: 20px;
}

.big-menu-item {
  margin: 14px;
}

/*
 * Forms
 */

label {
  display: block;
  font-size: 0.5em;
}

input[type="text"], input[type="password"] {
  padding: 4px 6px;
  border-radius: 3px;
  border: solid #222 1px;
}

/*
 * Links
 */

a {
  color: #999;
  text-decoration: none;
  transition: color 0.4s;
}

a:link {
  color: #999;
}

a:visited {
  color: #999;
}

a:active {
  color: #999;
}

a:hover {
  color: #ddd;
}

#title a {
  color: rgb(200,200,200);
  transition: color 0.25s;
}

#title a:hover {
  color:#999;
  text-shadow:rgb(222,222,222) 1px 1px 0;
}

.big-button {
  font-size: 2em;
  border: 3px solid #999;
  padding: 10px;
  border-radius: 5px;
}

.green {
  background-color: #2c2;
  border-color: #8f8;
}
