<!DOCTYPE html>
<html>

  <head>
    <% include ../../common/partials/head %>
    <link rel="stylesheet" href="/styles/register.css">
    <script type="text/javascript" src="/helpers/register/newUserHandler.js"></script>
    <title>fog | register</title>
  </head>

  <body>

    <header>
      <% include ../../common/partials/header %>
    </header>

    <main>
      <div class="inner-content">
        <h1>Register</h1>

        <form action="" method="post" class="padded">
          <%
            values.forEach(function(value) {
              var names = value.split(' '),
                  spaced = names[0][0].toUpperCase() + names[0].slice(1), camelCase = names[0];
              if (names.length > 1) {
                spaced += ' ' + names[1][0].toUpperCase() + names[1].slice(1);
                camelCase += names[1][0].toUpperCase() + names[1].slice(1);
              }
          %>

          <p>
            <label>
              <%= spaced %>:
              <input
                type="
                  <%=
                    ([
                      'email',
                      'password'
                    ].indexOf(value) != -1) ? value : 'text'
                  %>"
                name="<%= camelCase %>" />
            </label>
          </p>

          <% }); %>
          <input type="radio" id="type" name="type" value="developer" >Developer
          <input type="radio" id="type" name="type" value="gamer" checked="checked">Gamer <br>
          <button type="submit" id="reset-user" value="reset-user">Reset</button>
          <button type="submit" id="submit-user" value="submit-user">Submit</button>
        </form>
        <!-- <a href="/register/auth/google">G auth</a> -->
      </div> <!-- end inner-content -->
    </main>

    <footer>
      <% include ../../common/partials/footer %>
    </footer>

  </body>

</html>
