<div class="outer-box">

<button class="feature-button" onclick="toggleFeature(<% game %>)">feature</button>
<select class="sale-button">
  <% for (var i = 0; i <= 90; i = i + 5) { %>
  <option name="sale" value="<%=i%>%"><%=i%>%</option>
  <% } %>
</select>
</div>

<script>

</script>
