<!DOCTYPE html>
<html>
  <head>
    <% include ../../common/partials/head %>
    <link rel="stylesheet" href="/styles/forums.css">
    <script type="text/javascript" src="/lib/jqlite.js"></script>
    <script type="text/javascript" src="/lib/ajaxer.js"></script>
    <script type="text/javascript" src="/helpers/forums/replyHandler.js"></script>
    <title>fog | forums</title>
  </head>
  <body>
    <header>
      <% include ../../common/partials/header %>
    </header>

    <main>

      <% var renderPost = function(post, isHead) { %>
          <div class="<%= (isHead)? 'topic post': 'post' %>">

            <!-- the post -->
            <%=post.content%>
            <br />
            <span class="deemphasized author">posted by: <%=post.user.username%></span>
            <div id="button">
              <a href="" class="reply-button">reply</a>
            </div>

            <!-- the replies -->
            <% if (!isHead && post.hasReplies()) { %>
              <div class="reply">
                <% post.replies.forEach(function(post) {
                  renderPost(post);
                }); %>
              </div>
            <% } %>

          </div>

      <% } %>
      
      <div class="inner-content">

        <!-- thread topic -->
        <% renderPost(thread, true) %>

        <!-- all replies -->
        <div class="padded">
          <% thread.replies.forEach(function(post) {
            renderPost(post);
          }); %>
        </div>

      </div>

    </main>

    <footer>
      <% include ../../common/partials/footer %>
    </footer>
  </body>
</html>
